.center-gif {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

.MuiButton-root {
  width: 100%;
  font-size: 1.2rem;
  padding: 12px;
}

@media (max-width: 600px) {
  .MuiButton-root {
    width: 80%;
  }
}

button:disabled {
  background-color: #cccccc;
}
